<style>
.section-container--{{ section.id }}{
margin-top: {{ section.settings.margin_top | append:'px' }};
margin-bottom: {{ section.settings.margin_bottom | append:'px' }};
padding-top: {{ section.settings.padding_top | append:'px' }};
padding-bottom: {{ section.settings.padding_bottom | append:'px' }};
background-color: {{ section.settings.bg-color }};
overflow: hidden;
}
@media screen and (max-width: 768px){
.section-container--{{ section.id }}{
margin-top: {{ section.settings.margin_top_mobile | append:'px' }};
margin-bottom: {{ section.settings.margin_bottom_mobile | append:'px'  }};
padding-top: {{ section.settings.padding_top_mobile | append:'px' }};
padding-bottom: {{ section.settings.padding_bottom_mobile | append:'px' }};
}
}
.section-container--{{ section.id }}{}

div #activewear{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    @media(max-width: 768px) {
        flex-direction: column;
        justify-content:center;
        padding:10px 0px;
        align-items:center;
    }
}


.section-container--{{ section.id }} .section-image {
    width: 50%;
    @media (max-width:768px){
     width:100%;
     margin-top:50px;
    }
}
.section-container--{{ section.id }} .section-image: {
    width:50%;
}

.section-container--{{ section.id }} .top__wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-container--{{ section.id }} .section-image img{
    width:100%;
    height:auto;
    object-fit:cover;
}

.section-container--{{ section.id }} .section-content{
    text-align: left;
    display: grid;
    gap: 48px;
    @media(max-width:768px){
        padding-left:20px;
    }
}



.section-container--{{ section.id }} .section-content h4{
     font-size:16px;
     text-transform: uppercase;
     letter-spacing: 6%;
     margin: 0;
     padding:0
     @media(max-width:768px){
        font-size: 12px;
        padding-bottom:6px;
        margin-bottom:0px;
    }
}

.section-container--{{ section.id }} .section_rte h2 {
    font-size: 30px;
    margin: 0 0 24px 0;

    @media (max-width:768px){
        font-size:20px;
        padding-bottom:10px;
        margin:0;
    }
}

{% comment %} .section-container--{{ section.id }} .section_rte{
   font-family: "Archivo", sans-serif;
} {% endcomment %}

.section-container--{{ section.id }} .section-content a{
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    padding: 18px 40px;
    width: max-content;
    cursor: pointer;
    line-height: 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media(max-width){
       width:100%;
       display:flex;
       flex-wrap:wrap;
       justify-content:center;
    }
}

.section-container--{{ section.id }} .__right_btn::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background:rgb(0, 0, 0);
    z-index: -1;
    transition: 0.4s ease-in-out;
}


.section-container--{{ section.id }} .section-content:hover a {
    color:rgb(245, 245, 245);
}

.section-container--{{ section.id }} .section-content ul {
    margin: 0;
    padding: 0 20px;

}

</style>
<section class="section-container--{{ section.id }}">
<div id="activewear" class="section-wrapper--{{ section.id }} page-width">
    <div class="section-content">
        <div class="top__wrap"> 
            <h4>{{ section.settings.first_title }}</h4>
            <div class="section_rte">{{ section.settings.section_list }}</div>
            {% comment %} <h2>{{ section.settings.second_title }}</h2> {% endcomment %}
        </div>        
        <a class="__right_btn" href="{{section.settings.button_link }}"> {{ section.settings.btn_txt }}</a>
    </div>
    <div class="section-image">
       {% if  section.settings.activewear_image != blank %}
        {{ section.settings.activewear_image |image_url: width: section.settings.activewear_image.width  | image_tag }}
       {% endif %}
    </div>
</div>
</section>

{% schema %}
{
"name": "Base Structure",
"settings": [
{
 "type": "image_picker",
 "id" : "activewear_image",
 "label": "Image",
},
{
"type": "text",
"id": "first_title",
"label": "First Title"
},
{
"type": "text",
"id": "second_title",
"label": "Second Title"
},
{
 "type": "url",
 "id": "button_link",
 "label": "Button link"
},
{
 "type": "text",
 "id": "btn_txt",
 "label": "button text"
},
{
    "type": "richtext",
    "id" : "section_list",
    "label": "section list",
},
{
"type": "color",
"id": "bg-color",
"label": "Background Color"
},
{
"type": "header",
"content": "Desktop Spacing"
},
{
"type": "range",
"id": "margin_top",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Top",
"default": 0
},
{
"type": "range",
"id": "margin_bottom",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Bottom",
"default": 0
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Padding Top",
"default": 40
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Padding Bottom",
"default": 40
},
{
"type": "header",
"content": "Mobile Spacing"
},
{
"type": "range",
"id": "margin_top_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Top (Mobile)",
"default": 0
},
{
"type": "range",
"id": "margin_bottom_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Bottom (Mobile)",
"default": 0
},
{
"type": "range",
"id": "padding_top_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Padding Top  (Mobile)",
"default": 20
},
{
"type": "range",
"id": "padding_bottom_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Padding Bottom  (Mobile)",
"default": 20
}
],
"blocks": [
{
"name": "Support",
"type": "support",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"
}
]
}
],
"presets": [
{
"name": "Everyday Collection"
}
]
}
{% endschema %}